.container {
  display: grid;
  grid-template-columns: 140px 1fr;
}

.content {
  width: 100%;
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.content h1 {
  color: var(--title);
}
